name: Spellcheck

on:
    push:
        branches:
        - master

jobs:
    spellcheck:
        runs-on: ubuntu-latest
        steps:
        -   uses: codespell-project/actions-codespell@v2
            with:
                path: .
                only_warn: 1
